body {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgb(135, 206, 235);
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: black;
}

#header {
    font-size: 34px;
    font-weight: bold;
    background-color: transparent;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

#player-content, #computer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#player-board, #computer-board {
    display: flex;
}


#player-board>div>div, #computer-board>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    height: 48px;
    width: 48px;

}

#computer-board > div > div {
    background-color: rgb(145, 195, 220);
    font-weight: bold;
}
#cell {
    background-color: #91C3DC;
    font-weight: bold;
}

#cell.ship {
    background-color: rgb(21, 56, 73);
}

#cell.hit {
    background-color: lightcoral;
}

#cell.interacted {
    background-color: rgb(85, 85, 85);
}

#winner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
   display: flex;
   gap: 16px;
   flex-direction: column;
   max-width: 10%;
   padding-left: 19.5%;
}

#buttons > button {
    font-size: 16px;
    padding: 8px;
    background-color: transparent;
    color: black;
    border: solid black 4px;
    border-radius: 4px;
}

#ending-screen > div {
    font-size: 34px;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}